<div class="container">

  <section id="über-mich">
    <div class="d-flex">
      <%= image_tag "andrea_theden-schow.jpg", class: "profil-bild mr-4" %>
      <p>
        Seit 1987 bin ich Inhaberin der Restaurierungswerkstatt Andrea Theden-Schow in Hamburg-Eimsbüttel.
        Ich habe das Kunsthandwerk der Vergoldung von der Pike auf gelernt - ganz traditionell in einem renommierten Handwerksbetrieb in Hamburg.
        Mit Freude führe ich diese Tradition weiter und freue mich auf jedes neue Objekt, das ich in meiner Werkstatt bearbeite.
      </p>
    </div>
  </section>
</div>
