.header {
  background-color: #96BDAF;
  padding: 23px;
  color: #3C4C46;
}

.header > h1 {
  font-family: 'Italianno', cursive;
  font-size: 78px;
  font-weight: lighter;
}

.header > p {
  color: #3c4c468a;
}
